<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="codingRoundTest">
	<test name="Sign In Test">
		<classes>
			<class name="com.vagrant.test.SignInTest" />
		</classes>
	</test>
	<test name="Flight Booking Test">
		<classes>
			<class name="com.vagrant.test.FlightBookingTest" />
		</classes>
	</test>
	<test name="Hotel Booking Test">
		<classes>
			<class name="com.vagrant.test.HotelBookingTest" />
		</classes>
	</test>
</suite>